<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/_head') %> 
</head>
<body>

    <%- include('../partials/_header') %>

    <main class="container mt-4 mb-5">
        <%- body %> 
    </main>

    <script src="https://cdn.jsdelivr.net.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>